[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy="*"
bilby="*"
matplotlib="*"
gwmemoritz = "*"
memestr = {path = ".",editable = true}
nrsur7dq2 = "*"

[requires]

[dev-packages]

[pipenv]
allow_prereleases = false
